.icon-button {

    -fx-background-radius: 6;
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-text-fill: white;
    transition: all 0.15s ease-in-out;
}

.icon-button-base-bg {
    -fx-background-color: #212129;
}

.icon-button-base-bg:hover {
    -fx-background-color: #2B2B36;
}

.icon-button-base-bg:pressed {
    -fx-background-color: #181820;
}

.icon-button-transparent-bg {
    -fx-background-color: transparent;
}

.icon-button-transparent-bg:hover {
    -fx-background-color: #2B2B36;
}

.icon-button-transparent-bg:pressed {
    -fx-background-color: #181820;
}

.icon-base-color {
    -fx-icon-color: white;
}

.combo-box-text-white .list-cell {
    -fx-text-fill: white;
}

.combo-box-gray-bg .list-cell {
    -fx-background-color: #323949
}

.white-border:selected {
    -fx-border-color: white;
}

.set-standard-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(42, 42, 51, 0.9), rgb(126, 126, 153, 0.3)) !important;
    transition: all 0.15s ease-in-out;
}

.set-standard-bg-no-hover {
    -fx-background-color: linear-gradient(to bottom, rgb(42, 42, 51, 0.9), rgb(126, 126, 153, 0.3)) !important;
}

.set-standard-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(58, 58, 72, 0.95), rgba(150, 150, 180, 0.45)) !important;
}

.set-standard-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(28, 28, 36, 0.95), rgba(100, 100, 125, 0.35)) !important;
}

.set-standard-bg:selected {
    -fx-background-color: linear-gradient(to bottom, rgba(65, 65, 85, 1.0), rgba(160, 160, 200, 0.6)) !important;
}