
.mul-choice-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(12, 2, 77, 0.8), #1C05B3);
}

.fc-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(24, 69, 59, 0.8), #3BAB92);
}

.match-type-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(86, 0, 153, 0.8), #8F00FF);
}

.enum-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(99, 0, 11, 0.8), #C90016);
}

.tof-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(93, 89, 5, 0.8), #C3BA0B);
}

.combined-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(153, 95, 0, 0.8), #FF9F00);
}

.test-icon-base {
    -fx-background-color: white; 
    -fx-min-width: 102;  
    -fx-min-height: 102; 
    -fx-max-width: 102;  
    -fx-max-height: 102; 
}

.test-button{
    -fx-border-radius: 15; 
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 4, 8);
}