.icon-button {
    -fx-background-color: #212129;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
    -fx-cursor: hand;
}

.icon-button:hover {
    -fx-background-color: #2B2B36;
}

.icon-button:pressed {
    -fx-background-color: #181820;
}

.icon-button .content .text {
    -fx-text-fill: white;
}

.icon-button .content .icon {
    -fx-text-fill: white;
}