.standard-dark-bg {
    -fx-background-color: #212129;;
}

.standard-gray-bg {
    -fx-background-color: #323949
}

.standard-font {
    -fx-font-family: "Inter 24pt ExtraLight";
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}

.standard-header-font{
    -fx-font-family: "Inter Regular";
    -fx-font-size: 24px;
    -fx-font-weight: bolder;
    -fx-text-fill: white
}

.border-radius-15 {
    -fx-background-radius: 15;
    -fx-border-radius: 15
}