.standard-dark-bg {
    -fx-background-color: #212129;;
}

.standard-gray-bg {
    -fx-background-color: #323949
}

.standard-font {
    -fx-font-family: "Inter 24pt ExtraLight";
    -fx-text-fill: white
}