.icon-button {
    -fx-background-color: #212129;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.icon-button:hover {
    -fx-background-color: #2B2B36;
}

.icon-button:pressed {
    -fx-background-color: #181820;
}

.icon-base {
    -fx-background-color: white; 
    -fx-pref-width: 1.333em;  
    -fx-pref-height: 1.333em; 
}

.mul-choice-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(12, 2, 77, 0.8), #1C05B3);
}

.fc-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(24, 69, 59, 0.8), #3BAB92);
}

.match-type-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(86, 0, 153, 0.8), #8F00FF);
}

.enum-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(99, 0, 11, 0.8), #C90016);
}

.tof-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(93, 89, 5, 0.8), #C3BA0B);
}

.combined-test-bg {
    -fx-background-color: linear-gradient(to bottom, #995F00, #FF9F00);
}