.icon-button {
    -fx-background-color: #212129;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-text-fill: white;
    transition: all 0.15s ease-in-out;
}

.icon-button:hover {
    -fx-background-color: #2B2B36;
}

.icon-button:pressed {
    -fx-background-color: #181820;
}

.icon-base {
    -fx-background-color: white; 
    -fx-pref-width: 1.333em;  
    -fx-pref-height: 1.333em; 
}