.icon-button {

    -fx-background-radius: 6;
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-text-fill: white;
    transition: all 0.15s ease-in-out;
}

.icon-button-base-bg {
    -fx-background-color: #212129;
}

.icon-button-base-bg:hover {
    -fx-background-color: #2B2B36;
}

.icon-button-base-bg:pressed {
    -fx-background-color: #181820;
}

.icon-base-color {
    -fx-icon-color: white;
}