.set-standard-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(42, 42, 51, 0.9), rgb(126, 126, 153, 0.3));
}

.set-standard-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(58, 58, 72, 0.95), rgba(150, 150, 180, 0.45));
}

.set-standard-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(28, 28, 36, 0.95), rgba(100, 100, 125, 0.35));
}

.set-button {
    -fx-cursor: hand;
    transition: all 0.15s ease-in-out;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}