
.mul-choice-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(12, 2, 77, 0.8), #1C05B3);
}

.mul-choice-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(22, 6, 110, 0.85), #2A0EFF)
}

.mul-choice-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(6, 0, 48, 0.9), #14038A);
}

.fc-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(24, 69, 59, 0.8), #3BAB92);
}

.fc-test-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(34, 95, 81, 0.85), #4FD1B2);
}

.fc-test-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(10, 42, 35, 0.9), #2E8A75);
}


.match-type-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(86, 0, 153, 0.8), #8F00FF);
}

.match-type-test-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(110, 0, 190, 0.85), #A533FF);
}

.match-type-test-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(55, 0, 105, 0.9), #6F00C9);
}

.enum-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(99, 0, 11, 0.8), #C90016);
}

.enum-test-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(130, 0, 15, 0.85), #FF1F3A);
}

.enum-test-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(70, 0, 8, 0.9), #9E0011);
}

.tof-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(93, 89, 5, 0.8), #C3BA0B);
}

.tof-test-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(120, 115, 10, 0.85), #E6DB1A);
}

.tof-test-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(65, 62, 2, 0.9), #9C9408)
}

.combined-test-bg {
    -fx-background-color: linear-gradient(to bottom, rgb(153, 95, 0, 0.8), #FF9F00);
}

.combined-test-bg:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(190, 120, 0, 0.85), #FFB733)
}

.combined-test-bg:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(110, 65, 0, 0.9), #CC7F00)
}

.test-icon-base {
    -fx-icon-color: white; 
    -fx-icon-size: 102;
}

.test-button{
    -fx-border-radius: 15; 
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 4, 8);
    -fx-cursor: hand;
    transition: all 0.15s ease-in-out;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 53 0 0 53;
    -fx-border-radius: 53 0 0 53;
}